<div class="container">
  <h3>Country Details</h3>
  <table class="table table-hover">
    <thead>
      <tr>
        <th>Name</th>
        <th>Capital</th>
        <th>Population</th>
        <th>Currencies</th>
        <th>Flag</th>

      </tr>
    </thead>
    <tbody>
      <tr>
        <th>{{ detail.name }}</th>
        <td>{{ detail.capital }}</td>
        <td>{{ detail.population }}</td>
        <td>{{ detail.currencies[0].code }}</td>
        <td>
          <svg width="200" height="200" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
            <image id="imageFlag" height="100" width="100" />
          </svg>
        </td>
      </tr>
    </tbody>
  </table>
</div>
